<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdresseOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AdresseServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AktivitetslisteOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AktivitetslisteServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BrukerAdminOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BrukerAdminServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BrukerOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BrukerServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BruksenhetServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BygningOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BygningServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ElektroniskTinglysingOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ElektroniskTinglysingServicePortBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="EndringsloggServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ForretningOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ForretningServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GrunnforurensingServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KartServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KodelisteServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KommuneOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KommuneServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KonsesjonsforholdOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KonsesjonsforholdServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KulturminneServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LandbruksregisterServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LandmalerregisterServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LockServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MatrikkelenhetOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MatrikkelenhetServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MatrikkelsokServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="NedlastningServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PantebokServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PersonOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PersonServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RapportServicePortBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="SefrakMinneOppdateringServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SefrakMinneServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SequenceBlockAllocatorServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="StoreServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TeigServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TestdataServicePortBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="AdresseOppdateringServicePortBinding"
                contract="AdresseOppdateringService" name="AdresseOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS"
                binding="basicHttpBinding" bindingConfiguration="AdresseServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.adresse.AdresseService"
                name="AdresseServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AktivitetslisteOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="AktivitetslisteOppdateringServicePortBinding"
                contract="AktivitetslisteOppdateringService" name="AktivitetslisteOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AktivitetslisteServiceWS"
                binding="basicHttpBinding" bindingConfiguration="AktivitetslisteServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.aktivitetsliste.AktivitetslisteService"
                name="AktivitetslisteServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BrukerAdminOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BrukerAdminOppdateringServicePortBinding"
                contract="BrukerAdminOppdateringService" name="BrukerAdminOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BrukerAdminServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BrukerAdminServicePortBinding"
                contract="BrukerAdminService" name="BrukerAdminServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BrukerOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BrukerOppdateringServicePortBinding"
                contract="BrukerOppdateringService" name="BrukerOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BrukerServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BrukerServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.bruker.BrukerService"
                name="BrukerServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BruksenhetServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BruksenhetServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.bygning.BruksenhetService"
                name="BruksenhetServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BygningOppdateringServicePortBinding"
                contract="BygningOppdateringService" name="BygningOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BygningServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.bygning.BygningService"
                name="BygningServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ElektroniskTinglysingOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="ElektroniskTinglysingOppdateringServicePortBinding"
                contract="ElektroniskTinglysingOppdateringService" name="ElektroniskTinglysingOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ElektroniskTinglysingServiceWS"
                binding="basicHttpBinding" bindingConfiguration="ElektroniskTinglysingServicePortBinding"
                contract="ElektroniskTinglysingService" name="ElektroniskTinglysingServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/EndringsloggServiceWS"
                binding="basicHttpBinding" bindingConfiguration="EndringsloggServicePortBinding"
                contract="EndringsloggService" name="EndringsloggServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="ForretningOppdateringServicePortBinding"
                contract="ForretningOppdateringService" name="ForretningOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS"
                binding="basicHttpBinding" bindingConfiguration="ForretningServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.forretning.ForretningService"
                name="ForretningServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/GrunnforurensingServiceWS"
                binding="basicHttpBinding" bindingConfiguration="GrunnforurensingServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.grunnforurensing.GrunnforurensingService"
                name="GrunnforurensingServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KartServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KartServicePortBinding"
                contract="KartService" name="KartServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KodelisteServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KodelisteServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.kodeliste.KodelisteService"
                name="KodelisteServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KommuneOppdateringServicePortBinding"
                contract="KommuneOppdateringService" name="KommuneOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KommuneServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.kommune.KommuneService"
                name="KommuneServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KonsesjonsforholdOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KonsesjonsforholdOppdateringServicePortBinding"
                contract="KonsesjonsforholdOppdateringService" name="KonsesjonsforholdOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KonsesjonsforholdServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KonsesjonsforholdServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.konsesjon.KonsesjonsforholdService"
                name="KonsesjonsforholdServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KulturminneServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KulturminneServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.kulturminne.KulturminneService"
                name="KulturminneServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/LandbruksregisterServiceWS"
                binding="basicHttpBinding" bindingConfiguration="LandbruksregisterServicePortBinding"
                contract="LandbruksregisterService" name="LandbruksregisterServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/LandmalerregisterServiceWS"
                binding="basicHttpBinding" bindingConfiguration="LandmalerregisterServicePortBinding"
                contract="LandmalerregisterService" name="LandmalerregisterServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/LockServiceWS"
                binding="basicHttpBinding" bindingConfiguration="LockServicePortBinding"
                contract="LockService" name="LockServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/MatrikkelenhetOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="MatrikkelenhetOppdateringServicePortBinding"
                contract="MatrikkelenhetOppdateringService" name="MatrikkelenhetOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/MatrikkelenhetServiceWS"
                binding="basicHttpBinding" bindingConfiguration="MatrikkelenhetServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.matrikkelenhet.MatrikkelenhetService"
                name="MatrikkelenhetServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/MatrikkelsokServiceWS"
                binding="basicHttpBinding" bindingConfiguration="MatrikkelsokServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.matrikkelsok.MatrikkelsokService"
                name="MatrikkelsokServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/NedlastningServiceWS"
                binding="basicHttpBinding" bindingConfiguration="NedlastningServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.nedlastning.NedlastningService"
                name="NedlastningServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/PantebokServiceWS"
                binding="basicHttpBinding" bindingConfiguration="PantebokServicePortBinding"
                contract="PantebokService" name="PantebokServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/PersonOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="PersonOppdateringServicePortBinding"
                contract="PersonOppdateringService" name="PersonOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/PersonServiceWS"
                binding="basicHttpBinding" bindingConfiguration="PersonServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.person.PersonService"
                name="PersonServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/RapportServiceWS"
                binding="basicHttpBinding" bindingConfiguration="RapportServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.rapport.RapportService"
                name="RapportServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/SefrakMinneOppdateringServiceWS"
                binding="basicHttpBinding" bindingConfiguration="SefrakMinneOppdateringServicePortBinding"
                contract="SefrakMinneOppdateringService" name="SefrakMinneOppdateringServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/SefrakMinneServiceWS"
                binding="basicHttpBinding" bindingConfiguration="SefrakMinneServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.sefrak.SefrakMinneService"
                name="SefrakMinneServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/SequenceBlockAllocatorServiceWS"
                binding="basicHttpBinding" bindingConfiguration="SequenceBlockAllocatorServicePortBinding"
                contract="SequenceBlockAllocatorService" name="SequenceBlockAllocatorServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS"
                binding="basicHttpBinding" bindingConfiguration="StoreServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.store.StoreService"
                name="StoreServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/TeigServiceWS"
                binding="basicHttpBinding" bindingConfiguration="TeigServicePortBinding"
                contract="TeigService" name="TeigServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/TestdataServiceWS"
                binding="basicHttpBinding" bindingConfiguration="TestdataServicePortBinding"
                contract="TestdataService" name="TestdataServicePort" />
        </client>
    </system.serviceModel>
</configuration>