<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdresseServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BygningServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ForretningServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="KommuneServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MatrikkelenhetServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="StoreServicePortBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/AdresseServiceWS"
                binding="basicHttpBinding" bindingConfiguration="AdresseServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.adresse.AdresseService"
                name="AdresseServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/BygningServiceWS"
                binding="basicHttpBinding" bindingConfiguration="BygningServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.bygning.BygningService"
                name="BygningServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/ForretningServiceWS"
                binding="basicHttpBinding" bindingConfiguration="ForretningServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.forretning.ForretningService"
                name="ForretningServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/KommuneServiceWS"
                binding="basicHttpBinding" bindingConfiguration="KommuneServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.kommune.KommuneService"
                name="KommuneServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/MatrikkelenhetServiceWS"
                binding="basicHttpBinding" bindingConfiguration="MatrikkelenhetServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.matrikkelenhet.MatrikkelenhetService"
                name="MatrikkelenhetServicePort" />
            <endpoint address="https://prodtest.matrikkel.no:443/matrikkelapi/wsapi/v1/StoreServiceWS"
                binding="basicHttpBinding" bindingConfiguration="StoreServicePortBinding"
                contract="no.statkart.matrikkel.matrikkelapi.wsapi.v1.service.store.StoreService"
                name="StoreServicePort" />
        </client>
    </system.serviceModel>
</configuration>